<h1>
  {{model.title}}
    <span style="font-size: 16px" class="pull-right">
        <md-button ng-if="options.editable" class="md-fab md-mini md-primary" ng-click="toggleEditMode()" aria-label="Favorite">
            <!--<md-icon md-svg-icon="{{editMode ? '../src/images/ic_save_black_18px.svg' : '../src/images/ic_mode_edit_black_24px.svg' }}"></md-icon>-->
            ES
        </md-button>
        <md-button ng-if="editMode" class="md-fab md-mini md-primary" ng-click="cancelEditMode()" aria-label="undo">
            <!--<md-icon md-svg-icon="../src/images/ic_undo_black_18px.svg"></md-icon>-->
            U
        </md-button>
    </span>
</h1>
