<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>{{definition.title}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-fab md-mini md-primary" ng-if="widget.reload" ng-click="reload()" aria-label="Favorite">
            <!--<md-icon md-svg-icon="../src/images/ic_cached_black_24px.svg"></md-icon>-->
            R
        </md-button>
        <md-button href class="md-fab md-mini md-primary adf-move" ng-if="editMode" aria-label="editMode">
            <!--<md-icon md-svg-icon="../src/images/ic_open_with_black_24px.svg"></md-icon>-->
            M
        </md-button>
        <md-button class="md-icon-button" ng-click="edit()" ng-if="editMode" aria-label="edit">
            <!--<md-icon md-svg-icon="../src/images/ic_settings_black_24px.svg"></md-icon>-->
            S
        </md-button>
         <md-button class="md-fab md-mini md-primary" ng-click="remove()" ng-if="editMode" aria-label="remove">
             <!--<md-icon md-svg-icon="../src/images/ic_clear_black_24px.svg"></md-icon>-->
           D
        </md-button>
    </div>
</md-toolbar>